<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap>

  <mat-card [@fadeInAnimation]
            class="album-card"
            fxFlex="33%"
            fxFlex.lt-md="50%"
            fxFlex.lt-sm="100%"
            *ngFor="let album of albums | async"
            [routerLink]="['details', album.albumId]">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['details', album.albumId]"
           class="album-card-title">
          {{album.title}}
        </a></mat-card-title>
      <mat-card-subtitle> {{album.artistName}}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
</div>
