<div style="overflow-x:auto;">
  <table>
    <thead>
    <tr class="rrow">
      <th *ngFor="let column of displayedColumns" [class]="column === 'No' ? 'header-cell idcol' : 'header-cell'">
        {{column}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="rrow" *ngFor="let track of tracks | propEmptyPlaceholder:'Unavailable'; let i = index ">
      <td class="cell idcol">{{i + 1}}</td>
      <td class="cell">{{track?.trackName }}</td>
      <td class="cell">{{track?.artistName }}</td>
      <td class="cell">{{track?.composer }}</td>
      <td class="cell">{{track?.milliseconds | timeFormat }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th class="header-cell" colspan="5">{{tracks?.length || 0}} items</th>
    </tr>
    </tfoot>
  </table>
</div>
